<!-- <app-bank-nav-bar></app-bank-nav-bar> -->


<div class="hero">
  <div class="container">
    <h2>welcome To <span>Ap</span>Zz.<span>.BaNk</span></h2>
    <br /><br />

    <div class="description">
      <h3>Bank of Banks</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
        expedita ipsam praesentium in eveniet nam sunt maxime laborum iure
        corrupti maiores commodi dolorem, nihil, facere aliquid neque id
        deleniti? Iste?
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
        asperiores cupiditate placeat illum laborum, in deserunt autem odio. Rem
        officiis quas enim magnam! Magnam alias ipsam maiores laborum
        repudiandae nihil!
      </p>
      <br />

      <!-- <button type="submit" routerLink="loginPage">Let's go</button> -->
    </div>
  </div>
</div>
