
    <nav>
        <h2 class="logo">Ap<span>Z</span>z.<span>.BaNK</span></h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a (click)="depos()">Debosite</a></li>
            <li><a (click)="withdrw()">Withdraw</a></li>
            <li><a href="#">Transaction History</a></li>
            <li><a href="#">Others</a></li>
            <!-- <select>
              <option>Edit Profile</option>
              <option>Delete Account</option>  
              <option>Edit Profile</option> 
            </select> -->
        </ul>
        <button type="submit" (click)="exit()">Exit</button> 
    </nav>
    
    <!-- <app-bank-log-in></app-bank-log-in> -->

