<nav>
  <h2 class="logo">Ap<span>Z</span>z.<span>.BaNK</span></h2>
  <ul>
    <li><a routerLink="Welcome">Home</a></li>
    <li><a routerLink="/deposite">Debosite</a></li>
    <li><a routerLink="/withdraw">Withdraw</a></li>
    <li><a routerLink="/transactions">Transaction History</a></li>
    <li><a (click)="delAccount()">Delete Account</a></li>

    <!-- <select>
              <option>Edit Profile</option>
              <option><a (click)="delAccount()"></a>Delete Account</option>  
              <option>Change Password</option> 
            </select>
         -->
  </ul>
  <button type="submit" routerLink="/loginPage">LogOut</button>
</nav>

<app-delete-account
  [item]="AccountNum"
  (onCancel)="cancel()"
  (onDelete)="Deleted($event)"
></app-delete-account>

<!-- <app-bank-log-in></app-bank-log-in> -->
